
  body
  {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    

  }

  .question-title
  {
    text-align: center;

  }

  img.Gif
  {
    width: 40%;
    height: 30%;
    display: block;
    margin-left: 28%;
    margin-right: 50%;

  }

  img{
    width: 190px;
    height: 190px;
    padding: 0% 2% 0% 2%;
  }

  input[type=radio]+label:before {
    content: "";
    display: inline-block;
    width: 15px;  
    height: 15px;
    border: solid black 2px;
  }

  input[type=radio]:checked+label:before{
    content: "\2714";
  }

  input[type=radio] {
    display: none;
  }

  .image_block
  {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px 15px 0px 8px;
    width: 190px;
    background-color: lightgray;
    display:inline-block;
    /*float: left; */
    position: relative;
    margin: 15px;
  }

  .image_block_inner
  {
    position: relative;
  }

  #button, #submit
{
  position: fixed;
  top: 0px;
  right: 0px;

  background-color: #79bbff;
  border-radius: 23px;
  border: 1px solid #469df5;
  display: inline-block;
  color: #ffffff;
  font-family: Comic Sans MS;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height:40px;
  line-height:40px;
  width:100px;
  text-decoration:none;
  text-align:center;

}







